.body {
    margin: 0;
    padding: 0;
    background-image: url('https://res.cloudinary.com/divxrmzge/image/upload/v1710428337/Proyecto_nuevo_2_tveesl.png');
    background-repeat: no-repeat;
   
    height: 'auto';
}
