.body {
    margin: 0;
    padding: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/011/334/015/original/dark-silver-gray-low-poly-texture-vector.jpg');
    background-repeat: no-repeat;
    height: 'auto';
}
