.body {
    margin: 0;
    padding: 0;
    background-image: url('https://res.cloudinary.com/divxrmzge/image/upload/v1710396015/walpeaper_ybnem1.png');
    background-repeat: no-repeat;
    height: 'auto';
}
